:host{
    background-image: url('../../assets/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Transparent standard */
ion-toolbar {
    --background: transparent !important;
    --ion-color-base: transparent !important;
    --border-width: 0 !important;
}

.transition{
    transition: 1s all;
}

.hide-toolbar{
    transform: translate3d(0, -40px, 0);
    transition: 1s;
}

.text-sm{
    font-size: 17px;
}

.absolute{
    ion-col{
        display: flex;
        justify-content: center !important;
        ion-img{
            width:280px;
        }
    }
}

.hide-img{
    transition: 1s all;
    transform: translate3d(0, 120px, 0);
    scroll-behavior: smooth;
}

.move-input{
    transition: 1s all;
    scroll-behavior: smooth;
}

.bold{ 
    font-weight: 700;
    border: 1px solid
}

ion-content{
    --background: transparent;
}

.content-container{
    height: 100%;
    form{
        background-color: #fff;
        height: 90%;
        padding:20px 1px 10px 1px;
        border-top-left-radius: 30px !important;
        border-top-right-radius: 30px !important;
        ion-input{
            border:1px solid #eee;
            -webkit-box-shadow: 1px -2px 22px -10px rgba(0,0,0,0.37);
            -moz-box-shadow: 1px -2px 22px -10px rgba(0,0,0,0.37);
            box-shadow: 1px -2px 22px -10px rgba(0,0,0,0.37);
            --padding-start: 1rem;
            --padding-end: 1rem;
            margin:1rem 0;
            min-height: 43px !important;
            border-radius: 5px !important;
            font-weight: 500;
            text-transform: uppercase;
        }

        ion-button{
            min-height: 45px !important;
            border-radius: 5px !important;
            margin-top: 1rem;
            --background: rgb(156,39,176);
            --background: linear-gradient(248deg, rgba(156,39,176,0.1825105042016807) 8%, rgba(254,142,4,1) 37%);
            font-weight: 1000;
        }
    }
}

.no-margin-vertical {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}