<ion-header class="ion-no-border ion-no-shadow" translucent="true">
  <ion-grid class="ion-no-padding transition" [class.hide-toolbar]="isScrolled">
    <ion-row>
      <ion-col size-xl="6" offset-xl="3" color="primary ion-no-padding">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="cards"></ion-back-button>
          </ion-buttons>
          <ion-title color="light" class="ion-no-padding text-sm">PAYMENT DETAILS</ion-title>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content [class.move-input]="isScrolled" fullscreen="true" (ionScroll)="handleScroll($event)" [scrollEvents]="true">
  <ion-grid class="ion-no-padding content-container">
    <ion-row class="absolute transition" [class.hide-img]="isScrolled">
      <ion-col size-xl="6" offset-xl="3" color="primary">
        <ion-img [src]="creditCard" class="float-img"></ion-img>
      </ion-col>
    </ion-row>
    <form [formGroup]="creditCardForm" #formDirective="ngForm">
      <ion-row>
        <ion-col size-xl="6" offset-xl="3">
            <ion-item lines="none">
                <ion-label position="stacked" class="float-left" color="primary"><strong>Card Number</strong></ion-label>
                <ion-input
                    type="tel"
                    formControlName="cardNumber"
                    autocapitalize=words
                    class="uppercase ion-shadow border-bottom"
                    clearInput
                    placeholder="3425 1234 5678 0987"
                    (ionChange)="checkCardNumber($event)"
                    [class.border-bottom]="!cardValidator.cardNumber"
                ></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xl="6" offset-xl="3">
            <ion-item lines="none">
                <ion-label position="stacked" class="float-left" color="primary"><strong>Name On Card</strong></ion-label>
                <ion-input
                    type="text"
                    formControlName="cardHolderName"
                    autocapitalize=words
                    class="uppercase"
                    clearInput
                    placeholder="Robins Joel J."
                ></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="6">
              <ion-item lines="none">
                  <ion-label position="stacked" class="float-left" color="primary"><strong>Expiry Date</strong></ion-label>
                  <ion-input
                      type="text"
                      formControlName="ccExp"
                      class="uppercase"
                      clearInput
                      placeholder="08/20"
                      (ionChange)="checkCardExpDate($event)"
                      [class.border-bottom]="!cardValidator.expDate"
                  ></ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="6">
              <ion-item lines="none">
                  <ion-label position="stacked" class="float-left" color="primary"><strong>Security Code</strong></ion-label>
                  <ion-input
                      type="number"
                      formControlName="cardCVV"
                      autocapitalize=words
                      class="uppercase"
                      clearInput
                      placeholder="CVV"
                      (ionChange)="checkcvv($event)"
                      [class.border-bottom]="!cardValidator.cVV"
                  ></ion-input>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xl="6" offset-xl="3">
          <ion-item lines="none">
            <ion-checkbox color="primary" formControlName="isToRemember"></ion-checkbox>
            <ion-label class="ion-padding-horizontal" color="primary">Remember Card</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xl="6" offset-xl="3" class="ion-padding-horizontal">
          <ion-button (click)="onSubmitCard(formDirective)" shape="round" expand="full"
          [disabled]="!creditCardForm.valid || !cardValidator.cardNumber || !cardValidator.cVV || !cardValidator.expDate"
          >pay now</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
