ion-content{
    --background: transparent !important;
}

.text-sm{
    font-size: 17px;
}

.text-white{
    color: var(--ion-color-light) !important;
}

.bold{ 
    font-weight: 700;
}

.margin{
    margin-left: 10px;
    margin-right: 10px;
}

.card-container{
    ion-button{
        min-height: 45px !important;
        --background: rgb(254,142,4);
        --background: linear-gradient(275deg, rgba(254,142,4,0.9332107843137255) 30%, rgba(0,0,0,0.6250875350140056) 72%);
        color:#fff;
    }
}

.enter-card{
    padding:2rem .9rem;
}

.previous-card{
    font-weight: 700;
    margin-left: .5rem;
    padding:.4rem .9rem;
}

.list-cards{
    background-color: #fff;
    min-height: 65vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding:.2rem .7rem;
}

.no-card{
    ion-card {
        border-radius: 25px;
        padding-bottom:2rem;
    }

    ion-card-header{
        justify-content: center;
        width: 100%;
        display: flex;
        ion-img{
            margin-top: 2em;
            margin-bottom: 1.3em;
            width: 70% !important;
            border-bottom: 1px solid #eee;
        }
    }

    ion-card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        h3{
            padding:0px 2.2em;
            text-align: center;
            font-weight: 1000;
            line-height: 1.5;
            color: var(--ion-color-primary);
        }

        ion-label{
            padding:.2em 2em;
            text-align: center !important;
        }
    }
}

ion-card-content{
    h3{
        font-weight: 700;
    }
}

ion-thumbnail{
    align-items: center !important;
    display: flex;

    img{
        height: 35px;
    }
}