/* Transparent standard */
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --border-width: 0 !important;
}

ion-content{
    --background: transparent !important;
}

.text-sm{
    font-size: 17px;
}

.text-white{
    color: var(--ion-color-light) !important;
}

.bold{ 
    font-weight: 700;
}

.margin{
    margin-left: 10px;
    margin-right: 10px;
}

.card-container{
    transform: translate3d(0, 20px, 0);
    ion-button{
        min-height: 45px !important;
    }
}

.no-card{
    ion-card {
        border-radius: 25px;
    }
    transform: translate3d(0, 30px, 0);
    ion-card-header{
        justify-content: center;
        width: 100%;
        display: flex;
        ion-img{
            margin-top: 2em;
            margin-bottom: 1.3em;
            width: 70% !important;
            border-bottom: 1px solid #eee;
        }
    }

    ion-card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        h3{
            padding:0px 2.2em;
            text-align: center;
            font-weight: 1000;
            line-height: 1.5;
            color: var(--ion-color-secondary);
        }

        ion-label{
            padding:.2em 2em;
            text-align: center !important;
        }

        ion-button{
            margin: 3em 2.2em 3em 2.2em;
            font-weight: 700;
            color: #fff;
            min-height: 45px !important;
        }
    }
}

ion-card-content{
    h3{
        font-weight: 700;
    }
}

ion-thumbnail{
    align-items: center !important;
    display: flex;

    img{
        height: 35px;
    }
}